    <% layout('layouts/boilerplate') %>
    <title><%= camp.title %> | Edit</title>
    <link rel="stylesheet" href="/CSS/edit.css">
    <h3 class="text-center">Edit Campground</h3>
    <div class="col-6 offset-3">
    <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="post" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control length" id="title" aria-describedby="emailHelp" name="campgrounds[title]" value="<%= camp.title %>" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
 
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control length" id="location" name="campgrounds[location]" value="<%= camp.location %>" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
           
            <div class="mb-3">
             <label for="price" class="form-label">Campground Price</label>
             <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="price" name="campgrounds[price]" value="<%= camp.price %>" required>
                <span class="input-group-text">.00</span>
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            
           <div class="mb-3">
             <label for="description" class="form-label">Description</label>
             <textarea rows="6" type="text" class="form-control length" id="image" name="campgrounds[description]" required> <%= camp.description %></textarea>
             <div class="valid-feedback">
              Looks good!
            </div>
            <div class="mb-3">
              <label for="image" class="form-label">Add Images</label>
              <input class="form-control" type="file" id="image" name="image" multiple>
            </div>

            <div>
              <h6>Delete Images: </h6>
              <div class="row row-cols-1 row-cols-md-4 g-4 mb-3">
                  <% camp.images.forEach((image, i) => { %>
                  <div class="col">
                      <div class="card">
                          <label for="image-<%= i %>">
                            <img class="card-img" src="<%= image.thumbnail %>" alt="">
                              <div class="card-img-overlay text-end pt-1 pe-2">
                                  <input class="form-check-input" type="checkbox" name="deleteImages[]"
                                      value="<%= image.filename %>" id="image-<%= i %>">
                              </div>
                          </label>
                      </div>
                  </div>
                  <% }) %>
              </div>
            </div>
           </div>
          <button type="submit" class="btn btn-info">Update Campground</button>
     </form>
     <a href="/campgrounds/<%= camp._id %>">Back To Campground</a>