    <% layout('layouts/boilerplate') %>
    <title><%= camp.title %> | Edit</title>
    <style>
      a
      {
         text-decoration: none;
      }
      a:hover{
          color: blue;
      }
    </style>
    <h3 class="text-center">Edit Campground</h3>
    <div class="col-6 offset-3">
    <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="post" novalidate class="validated-form">
        <div class="mb-1">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control length" id="title" aria-describedby="emailHelp" name="campgrounds[title]" value="<%= camp.title %>" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
 
          <div class="mb-1">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control length" id="location" name="campgrounds[location]" value="<%= camp.location %>" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
 
          <div class="mb-1">
             <label for="image" class="form-label">Image URL</label>
             <input type="text" class="form-control length" id="image" name="campgrounds[image]" value="<%= camp.image %>" required>
             <div class="valid-feedback">
              Looks good!
            </div>
           </div>
           
            <div class="mb-3">
             <label for="price" class="form-label">Campground Price</label>
             <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="price" name="campgrounds[price]" value="<%= camp.price %>" required>
                <span class="input-group-text">.00</span>
              </div>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            
           <div class="mb-3">
             <label for="description" class="form-label">Description</label>
             <textarea rows="6" type="text" class="form-control length" id="image" name="campgrounds[description]" required> <%= camp.description %></textarea>
             <div class="valid-feedback">
              Looks good!
            </div>
           </div>
 
          <button type="submit" class="btn btn-info">Update Campground</button>
     </form>
     <a href="/campgrounds/<%= camp._id %>">Back To Campground</a>
     </div>
