<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="CSS/index.css">    
<title>Campgrounds</title>
<h3 class="text-center">All Campgrounds</h3>
<ul class="d-flex flex-wrap">
    <% for(let camp of campgrounds) { %>
        <div class="card m-5 animated fadeInUp">
            <img src="<%= camp.image %>" class="card-img-top img-thumbnail" alt="...">
            <div class="card-body">
                <div class="card-content">
                    <h5 class="card-title"><%= camp.title %></h5>
                    <p><%= camp.location %></p>
                    <p class="card-text"><%= camp.description %></p>
                </div>
                <div class="btn-container">
                    <a href="/campgrounds/<%= camp._id %>" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    <% } %>
</ul>
